Source: urlinsane
Section: misc
Priority: optional
Maintainer: Rangertaha <rangertaha@gmail.com>
Uploaders: Rangertaha <rangertaha@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Vcs-Git: https://github.com/rangertaha/urlinsane.git
Vcs-Browser: https://github.com/rangertaha/urlinsane

Package: urlinsane
Architecture: amd64
Depends: ${misc:Depends}
Description: Tool for generating domain name conducting OSINT investigations.
 is used to aid in the detection of typosquatting, brandjacking, 
 URL hijacking, fraud, phishing attacks, corporate espionage, supply 
 chain attacks, and threat intelligence.
