#!/usr/bin/make -f  

GOCMD=go
GOBUILD=$(GOCMD) build
GOCLEAN=$(GOCMD) clean
GOTEST=$(GOCMD) test
GOGET=$(GOCMD) get
GODOC=$(GOCMD)doc
BDIR=.build
BINARY_NAME=urlinsane
VERSION=$(shell grep -e 'VERSION = ".*"' internal/version.go | cut -d= -f2 | sed  s/[[:space:]]*\"//g)


%:  
	dh $@

# override_dh_auto_install:
# 	mkdir -p $(BDIR)
# 	$(GOGET) ./...
# 	cd cmd; $(GOBUILD) -o ../$(BDIR)/$(BINARY_NAME) -v

# override_dh_auto_test:
# 	mkdir -p $(BDIR)
# 	$(GOGET) ./...
# 	cd cmd; $(GOBUILD) -o ../$(BDIR)/$(BINARY_NAME) -v
