Source: urlinsane
Section: misc
Priority: optional
Maintainer: Rangertaha <rangertaha@gmail.com>
Uploaders: Rangertaha <rangertaha@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.0
Vcs-Git: git@github.com:rangertaha/urlinsane.git
Vcs-Browser: https://github.com/rangertaha/urlinsane.git

Package: urlinsane
Architecture: all
Depends: ${misc:Depends}
Description: Urlinsane typosquatting tool
 is used to aid in the detection of typosquatting, brandjacking, 
 URL hijacking, fraud, phishing attacks, corporate espionage, supply 
 chain attacks, and threat intelligence.